*.o
*.lo
*.la
compiler/src/.deps
compiler/src/.libs
compiler/src/protoc
compiler/Makefile.in
compiler/configure
compiler/gtest/Makefile.in
compiler/gtest/aclocal.m4
compiler/gtest/build-aux/ltmain.sh
compiler/gtest/configure
compiler/ltmain.sh
compiler/m4/libtool.m4
compiler/m4/ltoptions.m4
compiler/m4/ltsugar.m4
compiler/m4/ltversion.m4
compiler/m4/lt~obsolete.m4
compiler/src/Makefile.in
compiler/gtest/autom4te.cache/
compiler/gtest/msvc/gtest.vcproj-e
compiler/gtest/msvc/gtest_color_test_.vcproj-e
compiler/gtest/msvc/gtest_env_var_test_.vcproj-e
compiler/gtest/msvc/gtest_environment_test.vcproj-e
compiler/gtest/msvc/gtest_main.vcproj-e
compiler/gtest/msvc/gtest_output_test_.vcproj-e
compiler/gtest/msvc/gtest_prod_test.vcproj-e
compiler/gtest/msvc/gtest_uninitialized_test_.vcproj-e
compiler/gtest/msvc/gtest_unittest.vcproj-e
compiler/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.cc
compiler/src/google/protobuf/compiler/cpp/cpp_test_bad_identifiers.pb.h
compiler/src/google/protobuf/unittest.pb.cc
compiler/src/google/protobuf/unittest.pb.h
compiler/src/google/protobuf/unittest_custom_options.pb.cc
compiler/src/google/protobuf/unittest_custom_options.pb.h
compiler/src/google/protobuf/unittest_embed_optimize_for.pb.cc
compiler/src/google/protobuf/unittest_embed_optimize_for.pb.h
compiler/src/google/protobuf/unittest_empty.pb.cc
compiler/src/google/protobuf/unittest_empty.pb.h
compiler/src/google/protobuf/unittest_import.pb.cc
compiler/src/google/protobuf/unittest_import.pb.h
compiler/src/google/protobuf/unittest_import_lite.pb.cc
compiler/src/google/protobuf/unittest_import_lite.pb.h
compiler/src/google/protobuf/unittest_lite.pb.cc
compiler/src/google/protobuf/unittest_lite.pb.h
compiler/src/google/protobuf/unittest_lite_imports_nonlite.pb.cc
compiler/src/google/protobuf/unittest_lite_imports_nonlite.pb.h
compiler/src/google/protobuf/unittest_mset.pb.cc
compiler/src/google/protobuf/unittest_mset.pb.h
compiler/src/google/protobuf/unittest_optimize_for.pb.cc
compiler/src/google/protobuf/unittest_optimize_for.pb.h
compiler/src/unittest_proto_middleman
